@import "./pytch-variables.scss";

$navbar-single-row-height: 3.5rem;

@mixin yellow-hover-white() {
  color: $pytch-colour-main-yellow;
  &:hover {
    color: white;
  }
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-height: $navbar-single-row-height;

  background-color: $pytch-colour-main-blue;

  h1 {
    display: inline-block;
    padding: 0px;
    margin: 0px 2rem 0px 0px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: $pytch-title-font;
    @include yellow-hover-white();
  }

  h1,
  ul {
    padding-left: 9px;
    @media screen and (min-width: 180px) {
      padding-left: calc(9px + (23 / 120) * (100vw - 180px));
    }
    @media screen and (min-width: 300px) {
      padding-left: 32px;
    }
  }

  ul {
    display: none;
    &.menuIsExpanded {
      display: block;
      z-index: 1;
    }

    position: absolute;
    left: 0px;
    right: 0px;
    top: $navbar-single-row-height;
    min-height: calc(100vh - $navbar-single-row-height);

    background-color: inherit;
    list-style-type: none;
    margin: 0px;
    padding-top: 1rem;

    @media screen and (min-width: $width-breakpoint-md) {
      display: block;
      position: relative;
      min-height: auto;
      padding-top: 0px;
      margin-right: 12px;
      top: 0px;
    }

    li {
      padding: 12px 0px;
      font-size: 20px;

      @include yellow-hover-white();
      cursor: pointer;
      user-select: none;

      a {
        color: inherit;
      }

      @media screen and (min-width: $width-breakpoint-md) {
        display: inline-block;
        padding: 12px;
      }
    }
  }

  .burger-menu {
    margin-right: 1rem;
    font-size: 32px;
    @include yellow-hover-white();
    cursor: pointer;

    @media screen and (min-width: $width-breakpoint-md) {
      display: none;
    }
  }
}
